<div class="container">

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <span class="centred-content version">
        version: TODO
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <error-panel class="centred-content"></error-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <app-form class="centred-content" (onSubmit)="onSubmit($event)" (onReset)="onReset()"></app-form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <div class="centred-content">
        <hr>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <results-table class="centred-content"></results-table>
    </div>
  </div>
</div>