<div class="container">

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <span class="centred-content version">
        version: {{ version }}
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <error-panel class="centred-content"></error-panel>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <app-form class="centred-content" (onSubmit)="onSubmit($event)" (onReset)="onReset()"></app-form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 normal-row-container">
      <div class="centred-content">
        <hr>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 results-row-container">
      <user-details id="userPanel"></user-details>
      <div id="resultsPanelMainContent">
        <repo-filter></repo-filter>
        <results-table></results-table>
      </div>
    </div>
  </div>
</div>