#repoFilterPanel {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  #repoFilterPanel {
    width: 100%;
    flex: 0 0 auto;
  }
}

@media (min-width: 1200px) {
  #repoFilterPanel {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #repoFilterPanel * {
    flex: 1;
  }
}
