.normal-row-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.centred-content {
  flex: 0 0 100%;
}

.results-row-container {
  display: flex;
  flex-flow: column nowrap;
}

#userPanel {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 767px) {
  #userPanel div:first-child {
    flex: 0 0 30%;
    margin-right: 5px;
    align-self: flex-start;
  }
}

#repoFilterPanel {
  flex: 1 1 100%;
}

#resultsTablePanel {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .centred-content {
    flex: 0 0 66%;
  }

  .results-row-container {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  #userPanel {
    width: 17%;
    flex: 0 0 12%;
    padding-right: 10px;
    flex-flow: column nowrap;
  }

  #resultsPanelMainContent {
    flex: 0 0 66%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  #repoFilterPanel {
    width: 100%;
    flex: 0 0 auto;
  }

  #resultsTablePanel {
    width: 100%;
    flex: 0 0 auto;
  }
}

@media (min-width: 1200px) {
  #repoFilterPanel {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #repoFilterPanel * {
    flex: 1;
  }
}