form {
  margin-top: 20px;
}

.alert.alert-danger {
  margin-top: 20px;
  margin-bottom: 0px;
}

.version {
  margin-top: 10px;
  font-size: smaller;
  font-style: italic;
}

#results {
  margin-top: 10px;
}

#results td:last-child {
  line-height: 8px;
  vertical-align: middle;
}

#results td:last-child div {
  text-indent: -9999px;
}
